$red:red;
$fs13:13px;
$fs20:20px;
$space:100px;
$mt100:$space;
$pt100:$space;
$blackle:#1E2530;
$wh:#fff;
$green09:#09E27C;
$grayca:#cacaca;
$radius22:22px;
$radius38:38px;
$imgUrl:".../images";
$yellow:yellow;

$badgeBg: green #09E27C, blue #00D4EA;
//순서를 주석으로 메모하기:클레스명, 배경색
//리스트배역의 단점 값이 많아 질수록 그 순서를 외워야함





















// div{
//     $red:blue;

// margin-top: $mt100;
//     color:$red;
//     font-size: $fs20;
//     padding: $fs20;
// }

// p{
//     $blue:blue;
// }




